<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>iSpace Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.edigitalagency.com.au/wp-content/uploads/Apple-logo-white-png.png">
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />

    
</head>

<body>
    <%- include('../partials/admin-left.ejs') %>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/adminAssets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/adminAssets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAssets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Products</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Add the details</h4>
                        </div>
                        <div class="card-body">





                            <form method="post"  enctype="multipart/form-data" >
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" minlength="3"  name="pname" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" minlength="12" name="pdescription" required></textarea>
                                </div>
                                <div class="row">

                                    <!-- <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Category</label>
                                            <input placeholder="Type here" type="text" class="form-control" name="category" required>
                                        </div>
                                    </div> -->

                                  


                                    <%if(locals.category){%>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Category</label>
                                            <select class="form-select" name="category" required>
                                                <option value="" selected disabled>Select a category</option>
                                                <% for(let i=0; i < category.length; i++) { %>
                                                    <option value="<%= category[i]._id %>"><%= category[i].category %></option>
                                                <% } %>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <%}%>

                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="₹" type="number" class="form-control" name="mrp"  required min="1">
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Discount</label>
                                            <input placeholder="Type here" type="number" class="form-control" name="discount" required  min="1">
                                        </div>
                                    </div>


                                    <div class="col-lg-4">
                                        <label class="form-label">Stock</label>
                                        <input type="number" placeholder="Type here" class="form-control" id="product_name" name="stock" required min="1">
                                    </div>
                                  
                                </div>
                                
                                <div class="col-lg-4" style="margin-left: 250px;" >
                                    <div class="card mb-4" >
                                        <div class="card-header">
                                            <h4>Media</h4>
                                        </div>
                                        <div class="card-body" style="align-items: center;">
                                            <div class="input-upload" >
                                                <img src="/adminAssets/imgs/theme/upload.svg" alt="">
                                                <div id="image-preview-container"></div>
                                                <input class="form-control" type="file" multiple accept="image/*" name="productImages" onchange="previewImages(event)" required>
                                                

                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <br>
                                <label class="form-check mb-4">
                                    <input class="btn btn-primary btn-lg" style="background-color: #088178;margin-left: 10cm;"  type="submit" value="Submit" ">

                                   
                                </label>
                                
                            </form>






                        </div>
                    </div>
                    
                   
                </div>
            
                        
                    </div>
                </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        
    </main>


    <script>
   document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(form);

        fetch('/admin/add-product', {
            method: 'POST',
            body: formData
        })
        
        .then(data => {
            if (data.success) {
                console.log("sdddddddddddddddddddddddddd")
                Swal.fire({
                    title: 'Success!',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then(() => {
                    window.location.href = '/admin/products';
                });
            } else {
                throw new Error(data.message || 'Failed to add product');
            }
        })
        .catch(error => {
            console.error(error);
            Swal.fire({
                title: 'Error!',
                text: error.message || 'Failed to add product',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    });
});


    </script>
    

    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>
</body>

</html>



<script>
    function previewImages(event) {
        const previewContainer = document.getElementById('image-preview-container');
        previewContainer.innerHTML = '';

        const files = event.target.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function (e) {
                const imageSrc = e.target.result;
                const imagePreview = document.createElement('img');
                imagePreview.src = imageSrc;
                imagePreview.className = 'img-thumbnail';
                previewContainer.appendChild(imagePreview);

                const deleteButton = document.createElement('button');
                deleteButton.innerText = 'Delete';
                deleteButton.className = 'btn btn-danger';
                deleteButton.onclick = function () {
                    previewContainer.removeChild(imagePreview);
                    previewContainer.removeChild(deleteButton);
                };
                previewContainer.appendChild(deleteButton);
            };

            reader.readAsDataURL(file);
        }
    }
</script>
